@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: iranSans;
  src: url("../public/assets/fonts/iransans.woff");
}
:root {
  --primary-color: #ed2390;
  --white: #fff;
}
html,
body,
#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
body {
  direction: rtl;
  font-family: iranSans, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.header-container {
  background-image: url("../public/assets/images/header-background.jpg");
  background-repeat: no-repeat;
  height: 90vh;
}
.header-menu {
  background-color: rgba(51, 51, 51, 0.8);
  padding: 1.2rem 20%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}
.header-menu li {
  color: var(--white);
  cursor: pointer;
  margin: 0.7rem 0;
  transition: all ease 300ms;
}
.header-menu li:hover {
  color: var(--primary-color);
}
.drop-down-menu {
  box-shadow: 0 25px 25px rgb(0 0 0 / 25%);
  padding: 1.5625rem 0;
  background-color: rgba(51, 51, 51, 0.85) !important;
  transition-delay: 150ms;
  max-height: 80vh;
  min-width: fit-content;
}
.drop-down-menu__item {
  font-size: 1rem;
  font-weight: 700;
  color: var(--white);
  cursor: text !important;
}
.drop-down-menu__item--hover {
  background-color: #383b47 !important;
  color: var(--white) !important;
  opacity: 0.8;
}
.header-submenu {
  padding: 0 0.5rem;
  font-size: 0.875rem;
  font-weight: normal;
  min-width: 13.9375rem;
  text-align: start;
}
.header-submenu::before {
  background: var(--primary-color);
  content: " ";
  display: inline-block;
  height: 1px;
  transition: all 0.3s ease-in-out 0.01s;
  width: 0px;
  margin-left: 0.5rem;
}
.header-submenu:hover::before {
  width: 0.5rem;
}
